
header {
  background: url(https://zenandpi.files.wordpress.com/2015/11/photo-1444664361762-afba083a4d77.jpg?w=825&h=510&crop=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*opacity: .8;*/
  height: 300px;
  margin-top: 0px;
  padding-top: 0px;
}

/*
font-family: 'Orbitron', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Bevan', cursive;
font-family: 'Special Elite', cursive;***MAYBE
font-family: 'Freckle Face', cursive;
font-family: 'Ribeye Marrow', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Dosis', sans-serif;*MAYBE
font-family: 'Gloria Hallelujah', cursive;***MAYBE
font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Kalam', cursive;
font-family: 'Caveat', cursive;
font-family: 'Handlee', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Cabin Sketch', cursive;***MAYBE
font-family: 'Rancho', cursive;***MAYBE
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'The Girl Next Door', cursive;*/

#OrgName {
  font-family: 'Rancho', cursive;
  font-size: 7em;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: 0px;
  color: #c7293a;
}

#loginButton {
  float: right;
  width: 80px;
  margin-right: 20px;
}
/*nav{
  overflow: auto;
}*/
.topnav {
    background-color: #1f4d7d;
    overflow: hidden;
    margin-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #D72638;
    color: #f2f2f2;
}

/* Add an active class to highlight the current page */
.active {
    background-color: ##D72638;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.nav a{
  text-decoration: none;
  color: white;
}

#papa {
  border: 4px solid gray;
  height: 600px;
  width: 900px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}


/*this section is for aboutUs*/
#aboutUsHeader {
  text-align: center;
  font-size: 50px;
}

#aboutUsVideo {
  margin: 0 auto;
  padding-top: 30px;
  width: 800px;
}

#aboutUsTagLine {
  text-align: center;

}
.aboutUsImg {
  display: inline;
  float: left;
   width: 20%;
   margin: 1% 1% 45px 1%;
   padding-bottom: 10px;


}
.aboutUsParagraph {
  display: inline;
  position: absolute;
    bottom: 0px;


}
#aboutUsPics {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 30px;


}
.aboutUsImg img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/*login*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #c7293a;
    float: right;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}

button:hover {
    opacity: 0.8;
}

#resourceRequest {
  margin: 20px 50px;
  color: #c7293a;

}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
