
header {
  background-color: #D72638;
  background: url(https://zenandpi.files.wordpress.com/2015/11/photo-1444664361762-afba083a4d77.jpg?w=825&h=510&crop=1) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   opacity: .8;
  height: 300px;
  margin-top: 0px;
  padding-top: 0px;
}

#OrgName {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 4em;
  text-align: center;
  margin-top: 0px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0px;
  color: #D72638;

}

/*nav{
  overflow: auto;
}*/
.topnav {
    background-color: #12355B;
    overflow: hidden;
    margin-top:10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #D72638;
    color: #f2f2f2;
}

/* Add an active class to highlight the current page */
.active {
    background-color: ##D72638;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.nav a{
  text-decoration: none;
  color: white;
}
